// Bootstrap
@import 'bootstrap/bootstrap';

// Base Styles
@import 'slices/base.less';


@heading-color: rgb(50, 180, 193);
@subHeading-color: rgb(139, 148, 128);

h1 {
    color: @heading-color;
    font-weight: 300;
}

h2 {
  color: @heading-color;
}

.mainHeader {
  background: url("../assets/less/images/golf.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  max-height: 100%;
}

.jumbotron {
  height: 100vh;
}

.subHeader {
  color: @subHeading-color;
  letter-spacing: 2px;
  font-weight: 300;
}
