// Bootstrap
@import 'bootstrap/bootstrap';

// Base Styles
@import 'slices/base.less';


@heading-color: rgb(50, 180, 193);
@subHeading-color: rgb(139, 148, 128);

h1 {
  padding-top: 40px;
}

.mainHeader {

  background:
    url("../assets/less/images/golf.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
  }


.line {
  text-align: center;
}

.jumbotron {
  height: 100vh;
  margin: 0px;
  text-align: center;
}

h1.ryderCup {
  font-family: Georgia, Impact, Charcoal, sans-serif;
  font-weight: 900;
  font-size: 7em;
  color: white;
}

.subHeader {
  letter-spacing: 30px;
  font-weight: 200;
  color: #FFF;
  font-size: 2em;
}

.flags {
    margin-top: 0px;
    // display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

.eu {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .5s ease-in-out;
    // background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/704563/european_flag.jpg");
    height: 200px;

    background-repeat: no-repeat;
    background-size: contain;
}

.usa {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .5s ease-in-out;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/704563/american_flag.jpg");
    background-repeat: no-repeat;
    background-size: contain;

}

div.usa:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
}

div.eu:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
}
